/* /* Header Style * */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background: rgba(255, 144, 14, 0.1);

}

.topnav {
    overflow: hidden;
    background-color: #333;

}

.topnav a {
    float: left;
    display: block;

    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
    border-bottom: 2px solid red;
    border-radius: 6px;
}


.topnav a.active {
    background-color: #04AA6D;
    color: white;
    font-size: 30px;
}

.topnav .icon {
    display: none;
}



/* banner Styles */
.banner-header {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-title {
    text-align: center;
}

.banner-title h1 {
    color: #131313;
    font-weight: 700;
    font-size: 60px;
    font-family: 'Work Sans';
    font-style: normal;

}

.banner-title p {
    color: #727272;
    font-size: 16px;
    margin-top: 20px;
}

.btn {
    background: #FF900E;
    border-radius: 8px;
    width: 180px;
    height: 64px;
    border: none;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    margin-top: 30px;
}

.btn:hover {
    background-color: black;
    transition: ease-in-out 1s;
}

.banner-photo {
    margin-top: 70px;
}

/* main sections styles */
.features {
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
}

.image-style {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.text-style h4 {
    color: #727272;
    font-weight: 500;
    font-size: 45px;
}

#spans {
    color: #131313;
    font-weight: 700;
    font-size: 45px;
}

.text-style span {
    color: #FF900E;
    font-weight: 700;
    font-size: 45px;
}

.text-style p {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.card-shadow {
    margin-top: 130px;
    display: flex;
    justify-content: center;
    gap: 70px;
}

.descriptions h3 {
    color: #131313;
    font-weight: 700;
    font-size: 45px;
    border-left: 5px solid #FF900E;

}

.descriptions p {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    margin-top: 22px;
    line-height: 26px;
}

.shadow-style {
    margin-top: 50px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;

}

.shadow-style h5 {
    color: #131313;
    font-weight: 600;
    font-size: 20px;
}

.shadow-style p {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.experience-bnt {
    position: absolute;
    width: 242px;
    height: 130px;
    left: 880px;
    top: 3104px;
    background: #FF900E;
    border-radius: 8px;
    border: none;
    color: white;
    font-size: 25px;
}

.experience-bnt span {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 55px;
    line-height: 70px;
}

/* four Card Style */
.four {
    margin-top: 200px;
}


.text {
    margin-left: 240px;
}

.text h2 {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
    margin-top: 24px;
}

.text p {
    color: #727272;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}



.four-card {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

.card-style {
    text-align: center;
    border: 1px solid #FF900E;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 20px;
    width: 241.83px;
    height: 241.83px;
    transition: 1s ease;
}

.card-style:hover {
    width: 235px;
    height: 235px;
    transform: rotate(180deg);
}

.card-style h4 {
    color: #424242;
    font-size: 30px;

}

.card-style p {
    color: #727272;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
}

.Our-Sponspors {
    margin-top: 180.08px;
}

.sponspors-text {
    text-align: center;
}

.sponspors-text h3 {
    color: #131313;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
}

.sponspors-text p {
    color: #727272;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

/* company logo style */
.logo-item {

    display: flex;
    align-items: center;
    justify-content: center;

}

.logos {
    margin: 50px;
}


/* contact info style  */
.heading {
    text-align: center;
    font-size: 25px;
}

.heading hr {
    margin-left: 20%;
    margin-right: 20%;
}

.contact .row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.contact .row .contact {
    flex: 1 1 30rem;
    padding: 4rem;
    padding-bottom: 0;
}

.contact .row form {
    flex: 1 1 45rem;
    padding: 2rem;
    margin: 2rem;
    margin-bottom: 4rem;
}

.contact .row form .box {
    padding: 1rem;
    margin: 1rem 0;
    background: #3333;
    color: white;
    text-transform: none;
    font-size: 1.7rem;
    width: 100%;
    border: none;
}

.contact .row form .box::placeholder {
    text-transform: capitalize;
}

.contact .row form .message {
    height: 15rem;
    resize: none;
}

.contact .row .title {
    text-transform: uppercase;
    color: black;
    font-size: 3rem;
    padding-bottom: 2rem;
}


.contact .row .contact .info h3 {
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: #727272;
    padding: 1rem;
    font-weight: normal;
}

.contact .row .contact .info h3 i {
    padding-right: 1rem;
    color: var(--yellow)
}


/* Footer */



#footer {
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;
}

.last-part {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;

    background: #FFF4E7;
    border-radius: 8px;
}

.last-part p {
    color: #424242;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;

    text-align: center;

}



/* Media Query */

@media screen and (max-width: 576px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

    .banner-title img {
        width: 100%;
    }
     .features{
        flex-direction: column;
        
     }
    .image-style{
        
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 24px;
        
    }

    .card-shadow {
        flex-direction: column;
        width: 100%;

    }

    .shadow-style {
        padding: 10px;
    }

    .card-shadow img {
        width: 70%;
    }

    .four-card {
        flex-direction: column-reverse;
        
    }

    .sponspors-text,
    h3,
    p {
        width: 70%;
    }

    #footer {
        margin: 50px;
    }
}